<footer class="page-footer font-small bg3 pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark f-montserrat">Siga-me nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/mayqop/" target="_blank" 
                        class="icoLinkedin">
                        <i class="fa fa-linkedin text-dark" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/MayqOlipe" target="_blank" 
                        class="icoGithub">
                        <i class="fa fa-github text-dark" aria-hidden="true"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/my.quel/" target="_blank" 
                        class="icoInstagram">
                        <i class="fa fa-instagram text-dark" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg3 text-center py-1">
        <span class="text-dark f-montserrat">&copy; 2022 Copyright by mayqoliveira</span>
    </div>

</footer>
