@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#img-bg{
    background-image: url(https://i.imgur.com/mBb8qTB.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg1{
    background: #004370;
}


.bg2 {
    background: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
}

.f-slab{
    font-family: Alfa Slab One;
    margin-top: 2rem;
}

.f-montserrat{
    font-family: Montserrat;
    color: black;
}