<div class="container-fluid vw-100 bg1">
  <div class="container">
    <div class="row flex-column justify-content-around align-items-center pt-5">
      <div class="text-center">
        <h2 class="mb-3 text-light f-slab">Sobre mim</h2>
        <p class="pgrande text-white mb-5 pb-5">Este projeto foi desenvolvido durante o bootcamp Pessoa Desenvolvedora Web oferecido pela <span
            class="font-weight-bold text-dark f-montserrat">Generation Brasil</span>.<br>
          Desenvolvi o back-end e front-end desse blog durante o processo de aprendizado. Conheça um pouco do meu trabalho.</p>
      </div>
      <div class="col-md-3 text-center">
        <div class="d-flex flex-column text-light">
          <img
            id="mayq"
            src="https://i.imgur.com/vEdREk2.jpg"
            class="mb-4 img-fluid rounded-circle"
            alt="mayqdev"
          />
          <h4 class="text-center titulo text-dark f-slab">Mayquel de Oliveira</h4>
          <legend class="pequeno text-secondary f-montserrat">DEV FULL STACK JAVA</legend>
          <p class="pcard text-dark f-montserrat">
            Apaixonado por tecnologia, busca, na programação, se desafiar
            diariamente e evoluir pessoal e profissionalmente. Aprende com
            facilidade e identifica-se com atividades que demandam liderança e
            trabalho em equipe.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>

