<div class="container-fluid">
  <div class="row bg-info d-flex align-items-center py-5">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="f-slab fs-54">Bem vindo ao <br><span class="text-dark">KindofBlue</span> </h1>
          <p class="f-montserrat fs-18">Expresse aqui suas ideias!</p>
          <button class="btn btn-outline-light mr-3 mb-3 f-montserrat" data-toggle="modal" data-target="#exampleModal">Criar nova postagem</button> 
          <a class="btn btn-dark mb-3" href="#postagens">Ver Postagens</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="https://i.imgur.com/mBb8qTB.jpg"
        alt="imageminicio"
        width="500"
      />
    </div>
  </div>

  <div class="container mt-5 mb-5" id="postagens">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
      
      <li class="nav-item" role="presentation">
        <a class="nav-link active f-montserrat" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as Postagens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a (click)='findByIdUsuario()' class="nav-link f-montserrat" id="minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas Postagens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link f-montserrat" id="postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="postagensTema" aria-selected="false">Postagens por tema</a>
      </li>
    </ul>

<!-- ! Inicio do Card de Todas as Postagens -->
    <div class="tab-content mt-3" id="myTabContent">
      <div class="tab-pane fade show active f-montserrat" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
        <div class="card-columns">
          <div class="card text-center" *ngFor='let item of listaPostagem'>
            <div class="card-body">
              <img class="rounded-circle" src={{item.usuario.foto}} alt="" width="50px">
              <h5 class="card-title">{{item.titulo}}</h5>
              <small class="text-muted">Tema: {{item.tema.descricao}}</small>
              <p class="card-text">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small>
              <p class="card-text"><small class="text-muted">
              by: {{item.usuario.nome}}
              </small>
            </p>
            </div>
          </div>
        </div>
      </div>
<!-- ! Final do Card de Todas as Postagens -->

<!-- ! Inicio do Card de Minhas Postagens -->
      <div class="tab-pane fade f-montserrat" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
        <div class="card-columns">
          <div class="card text-center" *ngFor='let item of usuario.postagem'>
            <div class="card-body">
              <h5 class="card-title">{{item.titulo}}</h5>
              <small class="text-muted">Tema: {{item.tema.descricao}}</small>
              <p class="card-text">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>

              <a [routerLink]="['/postagem-edit', item.id]" class="text-outline-dark mr-3" href="">Editar</a>
              <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

            </div>
          </div>
        </div>
      </div>
<!-- ! Final do Card de Minhas Postagens -->

<!-- ! Inicio do Card de Postagens por tema -->
      <div class="tab-pane fade f-montserrat" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">
        <div class="card-columns" *ngFor='let tema of listaTemas'>
          <div class="card text-center" *ngFor='let item of tema.postagem'>
            <div class="card-body">
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>

              <p class="card-text">
                <small class="text-muted">
                  by: {{item.usuario.nome}}
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ! Final do Card de Postagens por tema -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title f-slab" id="exampleModalLabel">Criar nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        
        <input [(ngModel)]='postagem.titulo' id="modalTitulo" type="text" placeholder="Digite seu titulo">
      
        <div class="form-group">
          <label for="texto"></label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3" placeholder="Digite seu texto"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um Tema ou  <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
          <select [(ngModel)]='idTema' (change)='getAllTemas()' name="tema" id="tema" class="form-control">
            <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary f-montserrat" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary f-montserrat" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
