@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.f-slab{
    font-family: Alfa Slab One;
}

.f-montserrat{
    font-family: Montserrat;
}

#modalTexto{
    height: 10rem;
}

.fs-54{
    font-size: 54px;
}

.fs-18{
    font-size: 18px;
}